include ../widget/user_title

mixin history_list(item)
	.history
		span.ts(_ts=item.result.ts)
		span.total_moves= lingua.total_moves({moves:item.moves.length})
		span.case
			- console.log(item.result);
			if item.result.win
				if item.result.win == 'black'
					span= lingua.seat_black
				else
					span= lingua.seat_white
				if me.id == item.seats[item.result.win]
					span= lingua.win_vs
					- var loser = item.result.win == 'black' ? 'white' : 'black'
					mixin user_title(refs[item.seats[loser]], 'player')
				else
					span= lingua.fail_vs
					mixin user_title(refs[item.seats[item.result.win]], 'player')
					
			
		a(href='/game/weiqi/#{item.id}') >>