extends ../layout

block zepto
	script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js')
block scripts
	link(rel="stylesheet", href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css")
	script(src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js")
	script(src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js")
	script(src="/js/history.js")

block title
	title= lingua.title_history({name:ref_user.nickname, title:title(ref_user.title)})

block content
	#history
		#rate-chart
		#records
		
	script#records-tpl(type='text/template').
		<% if(records.length){ %>
			<ul>
				<% _.each(records, function(r){ %>
					<li>
						<h6>
							<%= player_tpl({user:refs[refs[r.gid].seats.black]}) %>
							<span class='seat'>#{lingua.black_short}</span>
							<span> vs </span>
							<%= player_tpl({user:refs[refs[r.gid].seats.white]}) %>
							<span class='seat'>#{lingua.white_short}</span>
							
							<% if(refs[r.gid].result){ %>
								<% if(refs[r.gid].result.case == 'white surrenders'){ %>
									<span class='result'>#{lingua.black_won_without_number}</span>
								<% } else if(refs[r.gid].result.case == 'black surrenders') { %>
									<span class='result'>#{lingua.white_won_without_number}</span>
								<% } %>
							<% } %>
						</h6>
						<span class='rate'><%= r.rate %></span>
						<span class="ts"><%= moment( r.ts *1000).format('YYYY/MM/DD HH:mm') %></span>
					</li>
				<% }); %>
			</ul>
		<% } %>