extends ../layout

block scripts
	link(rel="stylesheet", href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css")
	script(src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js")
	script(src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js")
	script(src="/js/history.js")

block title
	title= lingua.title_history({name:me.nickname, title:title(me.title)})

block content
	include ../widget/user_title
	.container
		#rate-chart(data=JSON.stringify(_.chain(games).pluck('record').map(function(x){return _.pick(x, 'rate', 'ts')}).value()))
		#records
			each g in games
				- var result = g.result ? (g.result.win ? (me.id == g.seats[g.result.win] ? 'win' : 'loss') : 'draw') : 'n/a';
				.history(id=g.id, result=result)
					//- console.log(g);
					if g.seats
						h6
							mixin user_title(refs[g.seats.black])
							span.seat= lingua.black_short
							span	vs 
							mixin user_title(refs[g.seats.white])
							span.seat= lingua.white_short
							
							if g.result
								if g.result.case == 'white surrenders'
									span.result= lingua.black_won_without_number
								else if g.result.case == 'black surrenders'
									span.result= lingua.white_won_without_number
						
						span.rate= g.record.rate
						span.ts(_ts=g.record.ts)

