include widget/players

mixin board(id, data)
	- var iam = user && _.contains(data.players, user.id) ? 'player' : 'witness';
	- var seat = iam == 'player' && data.seats ? _.invert(data.seats)[user.id] : null;
	- var players = data.seats ? _.chain(data.seats).pairs().map(function(x){return [x[0], _.pick(refs[x[1]], 'id', 'nickname', 'title')]}).object().value() : null;
	
	.board.container-fluid(id=id, socket=data.socket||data.id, status=data.status, iam=iam, seat=seat, uid='#{user ? user.id : ""}', next=data.next, players=JSON.stringify(players), game=JSON.stringify(data))
		.row-fluid
			.span5.offset3
				if data.status == 'draft'
					input.title.showable.span4.offset2(type='text', placeholder=lingua.dapu, value='#{data.title ? data.title : ""}', _text=lingua.dapu)
				else if data.title
					h4.title= data.title
				else
					if data.seats
						- var tmp = _.difference(data.players, _.values(data.seats))[0]
						h4.title
							if data.seats.black
								a.player(href='/u/#{data.seats.black}')= refs[data.seats.black].nickname
									span.title= title(refs[data.seats.black].title)
								span.seat= lingua.black_short
							else if tmp
								a.player(href='/u/#{tmp}')= refs[tmp].nickname
									span.title= title(refs[tmp].title)
							else
								span.player ?
							span  vs 
							if data.seats.white
								a.player(href='/u/#{data.seats.white}')= refs[data.seats.white].nickname
									span.title= title(refs[data.seats.white].title)
								span.seat= lingua.white_short
							else if tmp
								a.player(href='/u/#{tmp}')= refs[tmp].nickname
									span.title= title(refs[tmp].title)
							else
								span.player ?
					else if data.players
						h4.title
							a.player(href='/u/#{data.players[0]}')= refs[data.players[0]].nickname
								span.title= title(refs[data.players[0]].title)
							span  vs 
							if data.players[1]
								a.player(href='/u/#{data.players[1]}')= refs[data.players[1]].nickname
									span.title= title(refs[data.players[1]].title)
							else
								span.player ?

		.row
			.span2
				include widget/game_notice
				.players
					if data.status == 'draft'
						mixin draft_players(players)
					else if players && (players.black || players.white)
						mixin show_players(players, data.seats)
				#toolbox
					div
						a#num_btn(status='show_num', _text=JSON.stringify(_.pick(lingua, 'show_num', 'hide_num')), title=lingua.show_num): i.show-number
					div
						a#back: i.icon-chevron-left
						a#forward: i.icon-chevron-right
					div
						a#beginning: i.icon-step-backward
						a#ending: i.icon-step-forward
					div
						a#retract= lingua.retract
			canvas.draw.span4
