header.container
	nav
		a#logo(href='/', title='logo') 手谈
		ul.nav
			li: a#home(href='/', title='Home')= lingua.home
			//li: a(href='/tutorials', title='#{lingua.tutorials}')= lingua.tutorials

script#nav-tpl(type='text/template').
	<% if(data.myself){ %>
		<li>
			<% if(data.refs[data.myself].my_new_game){ %>
				<a href='/game/<%= data.refs[data.myself].my_new_game %>' title='#{lingua.new_game}'>#{lingua.new_game}</a>
			<% } else { %>
				<a href='/new' title='#{lingua.new_game}'>#{lingua.new_game}</a>
			<% } %>
		</li>
		<!-- <li><a id='dapu' href='/dapu' title='#{lingua.dapu}'>#{lingua.dapu}</a></li> -->
		<li><a id='mine' href='/u/<%=data.myself%>', title='#{lingua.my_page}'>#{lingua.my_page}</a></li>
	<% } else { %>
		<li><a href='/new' title='#{lingua.new_game}'>#{lingua.new_game}</a></li>
		<!-- <li><a id='dapu' href='/dapu' title='#{lingua.dapu}'>#{lingua.dapu}</a></li> -->
	<% } %>
	
	
script#login-or-register-tpl(type='text/template').
	<li><a id='register' href='/register'><span>#{lingua.register}</span></a></li>
	<li><a id='login' href='/login'><span>#{lingua.login}</span></a></li>

script.
	function init_header(data){
		$('header nav ul.nav').append(tpl('#nav-tpl')({data:data}));
		if(!data.myself)
			//$('body > header').append(tpl('#login-or-register-tpl')(data, {variable:'data'}));
			$('header nav ul.nav').append(tpl('#login-or-register-tpl')(data, {variable:'data'}));
	}
	