extends layout

block title
	- console.log(opts);
	if opts.seats && _.keys(opts.seats).length == 2
		title #{refs[opts.seats.black].nickname} #{title(refs[opts.seats.black].title)} (#{lingua.black_short}) vs #{refs[opts.seats.white].nickname} #{title(refs[opts.seats.white].title)} (#{lingua.white_short})
	else if opts.players && opts.players.length == 1
		title xx
	else if opts.players && opts.players.length == 2
		title #{refs[opts.players[0]].nickname} #{title(refs[opts.players[0]].title)} vs #{refs[opts.players[1]].nickname} #{title(refs[opts.players[1]].title)}
	else
		title Move

block append scripts
	script(src='/socket.io/socket.io.js')
	script(src='/js/board.js')
	script(src='/js/thumbnail.js')
	script(src='/js/weiqi_rule.js')
	//script(src='/js/publish.js')
	script(src='/js/weiqi.js')

block content
	if opts.status == 'taking_seat'
		#seats(_text=lingua.me).row
			#black.span6.vacant
				span.nickname ?
				span.title
			#white.span6.vacant
				span.nickname ?
				span.title
	
	#game-view-outer.row-fluid
		#game-view.span9
			#tabs.nav.nav-tabs
				li.active: a#gaming(href='#')= lingua.gaming
				li: a#trying(href='#')= lingua.tring
				if user && opts.players && _.contains(opts.players, user.id)
					li
						if opts.players.length > 1
							a(href='/quit/#{gid}')= lingua.quit
						else
							a(href='/delete/#{gid}')= lingua.delete
					li: a#surrender(href='#')= lingua.surrender
				li: a#detail(href='#')= lingua.detail
			
			if opts.result
				if opts.result.win
					if opts.result.case == 'white surrenders'
						h3#game-result= lingua.black_won_without_number
					else if opts.result.case == 'black surrenders'
						h3#game-result= lingua.white_won_without_number
	
			include board
			mixin board('gaming-board', opts)
			#surrender-view.hide
				a#confirm-surrender.btn(href='/surrender/#{gid}')= lingua.surrender
			#detail-view.hide
				.row-fluid
					.offset1= lingua['status_' + opts.status]
				each x in opts.players
					.row-fluid
						.span2.offset1: a(href='/u/#{x}')= refs[x].nickname
						.span2.offset1: span.rate= refs[x].rate
		.span3
			.row
				.span6.offset1
					include widget/publish
			aside#blogs(_me=user?user.nickname:'anonymous')
				include widget/blog