extends layout_sign

block title
	title= lingua.please_register

block content
	.container
		.row
			.span3.offset2 
				a#logo(href='/') Logo
		.row
			.span5.offset1
				#form-register
					form(method='POST')
						h1= lingua.please_register
						#form_body
							input.input-block-level(type='text', name='nickname', autofocus='autofocus', placeholder=lingua.nickname)
							input.input-block-level(type='email', name='email', placeholder=lingua.email_address)
							input.input-block-level(type='password', name='password', placeholder=lingua.password)
							input.btn.btn-large.btn-primary(type='submit', value=lingua.register)
							input(type='hidden', name='_csrf', value='#{csrf}')
			.span4.offset1
				#otherwise
					a#login(href='/login') Login
