#game-notice
	if game.status == 'init'
		if user && user.my_new_game == game.id
			p.text-warning= lingua.init_waiting
		else
			p.text-warning= lingua.init_attending
				a.btn.btn-primary(href='/attend/#{gid}')= lingua.start_game
	else if game.status == 'taking_seat'
		if user && _.contains(game.players, user.id)
			if game.seats && _.chain(game.seats).values().contains(user.id).value()
				p.text-warning= lingua.taking_seat_waiting_opponent
			else
				p.text-warning= lingua.taking_seat_please
		else
			p.text-warning= lingua.taking_seat_waiting
	else if game.status == 'started'
		if user && _.contains(game.players, user.id)
			if game.next == _.invert(game.seats)[user.id]
				p.text-warning= lingua.started_please_move
			else
				p.text-success= lingua.started_please_wait
	else if game.status == 'need_player'
		if user && _.contains(game.players, user.id)
			p.text-warning= lingua.need_player_wait
		else
			p.text-warning= lingua.need_player_invite
				a.btn.btn-primary(href='/attend/#{gid}')= lingua.start_game
	
	p.text-warning.hide(msg='started_please_move')= lingua.started_please_move
	p.text-warning.hide(msg='started_please_wait')= lingua.started_please_wait
	p.text-warning.hide(msg='connection_lost')= lingua.connection_lost
	p.text-warning.hide(msg='connected')= lingua.connected
	p.text-warning.hide(msg='reconnected')= lingua.reconnected
	p.text-warning.hide(msg='connect_failed')= lingua.connect_failed
	p.text-warning.hide(msg='connecting')= lingua.connecting
	p.text-warning.hide(msg='retract_by_opponent')= lingua.retract_by_opponent
	p.text-warning.hide(msg='ask_calling_finishing')= lingua.ask_calling_finishing
		br
		span= lingua.or1
		a#cancel_calling_finishing= lingua.cancel_calling_finishing
	p.text-warning.hide(msg='ask_calling_finishing_receiver')= lingua.ask_calling_finishing_receiver
		br
		a#accept_calling_finishing= lingua.accept_calling_finishing
		span= lingua.or2
		a#reject_calling_finishing= lingua.reject_calling_finishing
	p.text-warning.hide(msg='ask_calling_finishing_cancelled')= lingua.ask_calling_finishing_cancelled
	p.text-warning.hide(msg='reject_calling_finishing')= lingua.reject_calling_finishing
	p.text-warning.hide(msg='reject_calling_finishing_receiver')!= lingua.reject_calling_finishing_receiver
	#finishing.hide(msg='accept_calling_finishing')
		a#stop_calling_finishing= lingua.stop_calling_finishing_btn
		include finishing
	#finishing.hide(msg='accept_calling_finishing_receiver')
		a#stop_calling_finishing= lingua.stop_calling_finishing_btn
		include finishing
	p.hide(msg='stop_calling_finishing')= lingua.stop_calling_finishing
	p.hide(msg='stop_calling_finishing_receiver') he stop it
	p.hide(msg='stop_calling_finishing_move')= lingua.stop_calling_finishing_move
	p.hide(msg='stop_calling_finishing_wait')= lingua.stop_calling_finishing_wait
	p.hide(msg='stop_calling_finishing_receiver_move')= lingua.stop_calling_finishing_receiver_move
	p.hide(msg='stop_calling_finishing_receiver_wait')= lingua.stop_calling_finishing_receiver_wait
	
	script.
		$('#game-notice .hide').hide();