#game-notice
	if game.status == 'init'
		if user && user.my_new_game == game.id
			p.text-warning= lingua.init_waiting
		else
			p.text-warning= lingua.init_attending
				a.btn.btn-primary(href='/attend/#{gid}')= lingua.start_game
	else if game.status == 'taking_seat'
		if user && _.contains(game.players, user.id)
			if game.seats && _.chain(game.seats).values().contains(user.id).value()
				p.text-warning= lingua.taking_seat_waiting_opponent
			else
				p.text-warning= lingua.taking_seat_please
		else
			p.text-warning= lingua.taking_seat_waiting
	else if game.status == 'started'
		if user && _.contains(game.players, user.id)
			if game.next == _.invert(game.seats)[user.id]
				p.text-warning= lingua.started_please_move
			else
				p.text-success= lingua.started_please_wait
	else if game.status == 'need_player'
		if user && _.contains(game.players, user.id)
			p.text-warning= lingua.need_player_wait
		else
			p.text-warning= lingua.need_player_invite
				a.btn.btn-primary(href='/attend/#{gid}')= lingua.start_game
	
	p.text-warning.hide(msg='started_please_move')= lingua.started_please_move
	p.text-warning.hide(msg='started_please_wait')= lingua.started_please_wait
	p.text-warning.hide(msg='connection_lost')= lingua.connection_lost
	p.text-warning.hide(msg='connected')= lingua.connected
	p.text-warning.hide(msg='reconnected')= lingua.reconnected
	p.text-warning.hide(msg='connect_failed')= lingua.connect_failed
	p.text-warning.hide(msg='connecting')= lingua.connecting
	p.text-warning.hide(msg='retract_by_opponent')= lingua.retract_by_opponent
	p.text-warning.hide(msg='ask_calling_finishing') ask calling_finishing
		a#cancel_calling_finishing Cancel
	p.text-warning.hide(msg='ask_calling_finishing2_receiver')
		a#accept_calling_finishing Accept
		a#reject_calling_finishing Reject
	