#game-notice(_text=JSON.stringify(_.pick(lingua, 'started_please_move', 'started_please_wait', 'connection_lost', 'connected')))
	if game.status == 'init'
		if user && user.my_new_game == game.id
			p.text-warning= lingua.init_waiting
		else
			p.text-warning= lingua.init_attending
				a.btn.btn-primary(href='/attend/#{gid}')= lingua.start_game
	else if game.status == 'taking_seat'
		if user && _.contains(game.players, user.id)
			if game.seats && _.chain(game.seats).values().contains(user.id).value()
				p.text-warning= lingua.taking_seat_waiting_opponent
			else
				p.text-warning= lingua.taking_seat_please
		else
			p.text-warning= lingua.taking_seat_waiting
	else if game.status == 'started'
		if user && _.contains(game.players, user.id)
			if game.next == _.invert(game.seats)[user.id]
				p.text-warning= lingua.started_please_move
			else
				p.text-success= lingua.started_please_wait
	else if game.status == 'need_player'
		if user && _.contains(game.players, user.id)
			p.text-warning= lingua.need_player_wait
		else
			p.text-warning= lingua.need_player_invite
				a.btn.btn-primary(href='/attend/#{gid}')= lingua.start_game