extends ../layout

block title
	if game.seats && _.keys(game.seats).length == 2
		title #{refs[game.seats.black].nickname} #{title(refs[game.seats.black].title)} (#{lingua.black_short}) vs #{refs[game.seats.white].nickname} #{title(refs[game.seats.white].title)} (#{lingua.white_short})
	else if game.players && game.players.length == 1
		title xx
	else if game.players && game.players.length == 2
		title #{refs[game.players[0]].nickname} #{title(refs[game.players[0]].title)} vs #{refs[game.players[1]].nickname} #{title(refs[game.players[1]].title)}
	else
		title Move

block append scripts
	script(src='/socket.io/socket.io.js')
	script(src='/js/board.js')
	script(src='/js/thumbnail.js')
	script(src='/js/weiqi_rule.js')
	//script(src='/js/publish.js')
	script(src='/js/game.js')

block content
	if game.status == 'taking_seat'
		#seats(_text=lingua.me).row
			#black.span6.vacant
				span.nickname ?
				span.title
			#white.span6.vacant
				span.nickname ?
				span.title
	
	#game-view-outer.row-fluid
		#game-view.span9
			#tabs.nav.nav-tabs
				li.active: a#gaming(href='#')= lingua.gaming
				li: a#trying(href='#')= lingua.tring
				if user && game.players && _.contains(game.players, user.id)
					li
						if game.players.length > 1
							a(href='/quit/#{gid}')= lingua.quit
						else
							a(href='/delete/#{gid}')= lingua.delete
					li: a#surrender(href='#')= lingua.surrender
				li: a#detail(href='#')= lingua.detail
			
			if game.result
				if game.result.win
					if game.result.case == 'white surrenders'
						h3#game-result= lingua.black_won_without_number
					else if game.result.case == 'black surrenders'
						h3#game-result= lingua.white_won_without_number
	
			include board
			mixin board('gaming-board', game)
			#surrender-view.hide
				a#confirm-surrender.btn(href='/surrender/#{gid}')= lingua.surrender
			#detail-view.hide
				.row-fluid
					.offset1= lingua['status_' + game.status]
				each x in game.players
					.row-fluid
						.span2.offset1: a(href='/u/#{x}')= refs[x].nickname
						.span2.offset1: span.rate= refs[x].rate
		aside.span3
			#aside-tabs.nav.nav-tabs
				li.active: a#aside-game(href='#') game
				li: a#aside-comments(href='#')= lingua.comment
			#game-controls
				include game_notice
				mixin list_players(players, game.seats)
				include toolbox
			#blogs-view.hide
				include ../blogs/publish
				#blogs(_me=user?user.nickname:'anonymous')
					include ../blogs/blog_list