include ../widget/user_title

mixin draft_players(players)
	.span5.player.black
		span.span2= lingua.black
		input.span7(
			type='text'
			value='#{players && players.black && players.black.nickname ? players.black.nickname : ""}',
			placeholder=lingua.player_name
			_player='black'
			_type='nickname')
		input.span3(
			type='text'
			value='#{players && players.black && players.black.title ? players.black.title : ""}'
			placeholder=lingua.player_title
			_player='black'
			_type='title')
	.span5.offset1.player.white
		span.span2= lingua.white
		input.span7(
			type='text'
			value='#{players && players.white && players.white.nickname ? players.white.nickname : ""}'
			placeholder=lingua.player_name
			_player='white'
			_type='nickname')
		input.span3(
			type='text'
			value='#{players && players.white && players.white.title ? players.white.title : ""}'
			placeholder=lingua.player_title
			_player='white'
			_type='title')

mixin list_players(players, seats)
	#players
		.player.black
			if players && players.black
				mixin user_title(players.black)
			else
				span ?
		.player.white
			if players && players.white
				mixin user_title(players.white)
			else
				span ?