extends ../layout

block title
	title= lingua.title_user_page({name:ref_user.nickname, title:lingua['title_' + ref_user.title]})
	
block append scripts
	//script(type='text/javascript', src='/js/thumbnail.js')
	script(src='/js/BoardCanvas.js')
	script(type='text/javascript', src='/js/u.js', async)

block content
	#u.container
		#heading
			h1= ref_user.nickname
				span.title= lingua['title_' + ref_user.title]
			
		#profile
		#following
		#invites
			#received
			#sent
		#current
		#recent_history
		
		script#following_tpl(type='text/template').
		script#received_invites_tpl(type='text/template').
			<% if(received_invites.length){ %>
				<h6>#{lingua.invite_received}</h6>
				<% _.each(received_invites, function(x){ %>
					<a href='/receive_invite/<%=x.sender%>', target='_blank'>
						<sapn>refs[x.sender].nickname</span>
						<span class='title'><%= player_titles[refs[x.sender].title] %></span>
					</a>
				<% }); %>
			<% } %>
		script#sent_invites_tpl(type='text/template').
			<% if(received_invites.length){ %>
				<h6>#{lingua.invite_received}</h6>
				<% _.each(received_invites, function(x){ %>
					<a href='/receive_invite/<%=x.receiver%>', target='_blank'>
						<sapn>refs[x.receiver].nickname</span>
						<span class='title'><%= player_titles[refs[x.receiver].title] %></span>
					</a>
				<% }); %>
			<% } %>
		script#profile_tpl(type='text/template').
			<div id='performance'>
				<p>
					<span>#{lingua.rate}</span>
					<span title='#{lingua.rate}'><%= refs[uid].rate ? refs[uid].rate : 'N/A' %></span>
					<% total_games = lingua_tpl('#{_.escape(lingua.total_games)}'); win = lingua_tpl('#{_.escape(lingua.win)}'); loss = lingua_tpl('#{_.escape(lingua.loss)}'); %>
					<%= total_games({num:refs[uid].total_games||0}) %> <%= win({num:refs[uid].wins||0}) %> <%= loss({num:refs[uid].losses||0}) %>
					<span>胜率 <%= Math.round(refs[uid].win_ratio*1000) / 10 %>%</span>
				</p>
				<a id='view_history' href='/history/<%=uid%>'>#{lingua.history}</a>
			</div>
		script#heading_tpl(type='text/template').
			<% if(data.myself){ %>
				<% if(data.myself == data.uid){ %>
					<a id='logout' href='/logout'>#{lingua.logout}</a>
				<% } else { %>
					<% if(data.query.is_followed){ %>
						<a class='follow'></a>
					<% } else { %>
						<a class='unfollow'></a>
					<% } %>
					<a class='invite' href='/invite/<%=data.uid%>'><img src='/img/icons/prayer.svg'><span>#{lingua.challenge_you}</span></a>
				<% } %>
			<% } %>
		script#current_game_tpl(type='text/template').
			<% if(current.length) { %>
				<ul>
					<% _.each(current, function(gid){ my_seat = _.invert(refs[gid].seats)[uid]; opponent = _.without(refs[gid].players, uid)[0];  %>
						<li gid='<%=gid%>'>
							<% if(my_seat) { %>
								<span><%= (my_seat == 'black') ? '#{lingua.black}' : '#{lingua.white}' %></span>
								<span>#{lingua.with}</span>
								<%= player_tpl({user:refs[opponent]}) %>
								<br>
							<% } else if(opponent) { %>
								<span>#{lingua.with}</span>
								<%= player_tpl({user:refs[opponent]}) %>
								<br>
							<% } %>
							<a href='/game/<%=gid%>'><div class='thumb'/></a>
							<% if(myself && myself == uid) { %>
								<% if(refs[gid].status == 'taking_seat' && !_.invert(refs[gid].seats)[uid]) { %> <em>#{lingua.notice_take_seat}</em> <% } %>
								<% if(refs[gid].status == 'started' && refs[gid].seats[refs[gid].next] == uid ) { %> <em>#{lingua.notice_my_turn}</em> <% } %>
							<% } %>
						</li>
					<% }); %>
				</ul>
			<% } %>
		
		script#recent_history_tpl(type='text/template').
			<% if(recent_history.length) { %>
				<% total_moves = lingua_tpl('#{_.escape(lingua.total_moves)}'); %>
				<ul>
					<% _.each(recent_history, function(gid){ %>
						<% game_result = refs[gid].result ? (
							refs[gid].result.win ? (
								uid == refs[gid].seats[refs[gid].result.win] ? 'win' : 'loss'
							) : 'draw'
						) : '' %>
						<li class='<%= refs[gid].status %> <%= game_result %>'>
							<a class='view' href="/game/<%=gid%>">
							<% opponent = _.without(refs[gid].players, uid)[0]; %>
							<span class='ts'><%= moment(refs[gid].result.ts*1000).format('YYYY/MM/DD HH:mm') %></span>
							<% if(refs[gid].seats){ %>
								<% if(refs[gid].seats.black == uid){ %>
									<span>#{lingua.seat_black}</span>
								<% } else if(refs[gid].seats.white == uid){ %>
									<span>#{lingua.seat_white}</span>
								<% } %>
							<% } %>
							<% if(refs[gid].result){ %>
								<% if(refs[gid].result.win){ %>
									<% if(m = /(\d+\.?\d*)mu/.exec(refs[gid].result.case) ){ %>
										<%= lingua_tpl('#{_.escape(lingua.num_of_mu)}')({n:m[1]}) %>
									<% } else if( m = /(\d+\.?\d*)zi/.exec(refs[gid].result.case) ){ %>
										<%= lingua_tpl('#{_.escape(lingua.num_of_stones)}')({n:m[1]}) %>
									<% } %>
									
									<% if(uid == refs[gid].seats[refs[gid].result.win]){  %>
										<%= refs[gid].result.case.indexOf('surrender') > -1 ? '#{lingua.win_in_the_middle}': '#{lingua.win_vs}' %>
									<% } else { %>
										<%= refs[gid].result.case.indexOf('surrender') > -1 ? '#{lingua.lose_in_the_middle}': '#{lingua.fail_vs}' %>
									<% } %>
								<% } else { %>
									<%= '#{lingua.draw_vs}' %>
								<% } %>
							<% } %>
							<%= refs[opponent].nickname %><%= player_titles[refs[opponent].title] %>
							
							<% if(refs[gid].status == 'started'){ %>
								<div class='status'>#{lingua.status_started}<div>
							<% } %>
							</a>
						</li>
					<% }); %>
				</ul>
			<% } %>
		