extends ../layout

block title
	title= lingua.title_home_page
	
block append scripts
	script(type='text/javascript', src='/js/BoardCanvas.js')
	script(type='text/javascript', src='/json/home')
	script(type='text/javascript', src='/js/home.js')
	
block content
	#home.container
		#pendings
		#attendings
		#blogs
	
	include ../tpls/blogs_tpl

	script#pendings_tpl(type='text/template').
		<ul>
			<% _.each(data.games.pendings, function(gid){ %>
				<li>
					<% p = refs[gid].players[0] %><%= player_tpl({user:refs[p]}) %>
					<a class='attend' title='#{lingua.start_game}' href='/attend/<%=gid%>'>Attend</a>
				</li>
			<% }); %>
		</ul>
	script#attendings_tpl(type='text/template').
		<ul>
			<% _.each(data.games.attendings, function(gid){ %>
				<% my_seat = _.invert(data.refs[gid].seats)[data.myself]; opponent = _.without(data.refs[gid].players, data.myself)[0];  %>
				<li>
					<span class='caption'>
						<%= my_seat == 'black' ? '#{lingua.seat_black}' : '#{lingua.seat_white}' %>#{lingua.with} <%= player_tpl({user:data.refs[opponent]}) %>
					</span>
					<a class='thumb' href='/game/<%=gid%>'/></a>
				</li>
			<% }); %>
		</ul>
	